{% extends 'base.html.twig' %}

{% block title %}Login!{% endblock %}

{% block body %}
<div class="form-group" style="width:50%">
    
    <h1>Login</h1>
    {% if error %}
        <span class="badge badge-pill badge-warning"> <h5>{{ error.messageKey }}</h5></span>
    {% endif %}
    <form action = "{{ path('login') }}" method = "POST">
        <label for="_username">Username:</label>
        <input type="text" class="form-control" name="_username" value="{{ last_username}}" placeholder="Username here...">
        <label for="_password">Password:</label>
        <input type="password" name="_password" class="form-control">
        <br>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}
