{% extends 'base.html.twig' %}

{% block title %} AD Company ERP System {% endblock %}

{% block body %}
     <div>
     <h2 class="display-3">Welcome to the AD Company ERP System  </h2>
     
     <img src="{{asset('build/pic.png')}}" title="Home" alt="Home">
     </div>
{% endblock %}