{% extends 'base.html.twig' %}

{% block title %} AD Company Employee {% endblock %}

{% block body %}
    {{ form_start(form)}}
    {{ form_widget(form)}}
    {{ form_end(form)}}
    <br>
    <a href ='/employee'> Go Back></a>
{% endblock %}